<div class="group relative rounded-xl border border-primary-200 dark:border-primary-800 bg-primary-200/50 dark:bg-primary-500/10">
    <div class="relative overflow-hidden rounded-xl p-6">
        @if (Icon != null)
        {
                @Icon
        }
        <h2 class="font-display font-bold text-base-50 pb-2" >@Title</h2>
        <div class="text-sm">
        @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public string? Title { get; set; }
}